<div class="form-group">
  <label>Your User Id*:</label>
  {{input type="text" class="form-control" placeholder="Your User Id " value=item.userId autofocus="autofocus"}}
</div>
<div class="form-group">
  <label>Notes title*:</label>
  {{input type="text" class="form-control" placeholder="Notes Title " value=item.title autofocus="autofocus"}}
</div>
<div class="form-group">
  <label>Notes Completed Status*:</label>
  {{input type="text" class="form-control" placeholder="Notes status " value=item.completed autofocus="autofocus"}}
</div>
<button  class="btn btn-success" {{action "saveModel" item}} >{{btnText}}</button>
{{yield}}

